[apiKeys]
key = {{ getenv "api_key" }}

[rancher]
url = {{ getenv "rancher_url" }}
userkey = {{ getenv "rancher_user_key" }}
secretkey = {{ getenv "rancher_secret_key" }}
service = {{ getenv "rancher_service" }}
